body{
	font-family: Roboto;
}
.container {
	width: 405px;
	height: 500px;
	margin: 0px auto;
}
.container__header {
}
.logo {
}
#input{
	border: 1px solid grey;
	width: 371px;
	height: 30px;
}



.container__main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 400px;
	height: 220px;
	background-color: #dfeaf3;
	color: #555;
	border-radius: 20px;
	margin-top: 20px;
	padding: 20px;
}
.join {
}
.title {
}
.login {
}
.button {

}
#submit{
	margin-top: 20px;
	color: white;
	background-color: #ffa100;
	width: 371px;
	height: 44px;
	text-align: center;
	border: none;
}
.footer {
	color: #555;
	min-width: 100%;
	text-align: center;
	background-color: #f3f3f3;
	position: absolute;
    bottom: 0;
    left: 0;

}